<section>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Produit</h5>

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"
              >
                <i class="ti ti-plus"></i>
                Ajouter un Produit
              </button>
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Ajouter Catégorie
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form
                        nz-form
                        [formGroup]="validateForm"
                        (ngSubmit)="submitForm()"
                      >
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Pays</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <select
                              class="form-select"
                              formControlName="idCountry"
                              id="idCountry"
                            >
                              <option
                                *ngFor="let item of listCountry"
                                [ngValue]="item.id"
                              >
                                {{ item.libelle }}
                              </option>
                            </select>
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Catégorie</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <select
                              class="form-select"
                              formControlName="idProductCategory"
                              id="idProductCategory"
                            >
                              <option
                                *ngFor="let item of listCategory"
                                [ngValue]="item.id"
                              >
                                {{ item.libelle }}
                              </option>
                            </select>
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Libelle</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <input
                              nz-input
                              formControlName="libelle"
                              placeholder="Veuillez saisir un libelle valide"
                            />
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Description</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <input
                              nz-input
                              formControlName="description"
                              placeholder="Veuillez saisir une desciption valide"
                            />
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Quantité</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <input
                              nz-input
                              type="number"
                              formControlName="quatity"
                              placeholder="Veuillez saisir une quantité valide"
                            />
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Prix Unitaire</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <input
                              nz-input
                              type="number"
                              formControlName="price"
                              placeholder="Veuillez saisir un Prix unitaire"
                            />
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Devise</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <input
                              nz-input
                              formControlName="currency"
                              placeholder="Veuillez saisir la devise"
                            />
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Unité de Mésure</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <select
                              class="form-select"
                              formControlName="idUniteMesure"
                              id="idUniteMesure"
                            >
                              <option
                                *ngFor="let item of listUnit"
                                [ngValue]="item.id"
                              >
                                {{ item.libelle }}
                              </option>
                            </select>
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-label [nzSpan]="7" nzRequired
                            >Valeur</nz-form-label
                          >
                          <nz-form-control
                            [nzSpan]="12"
                            nzHasFeedback
                            nzValidatingTip="Validating..."
                            [nzErrorTip]="userErrorTpl"
                          >
                            <input
                              nz-input
                              type="number"
                              formControlName="valeurUniteMesure"
                              placeholder="Veuillez saisir la valeur"
                            />
                            <ng-template #userErrorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')"
                                >Veuille saisir le libelle !</ng-container
                              >
                              <ng-container
                                *ngIf="control.hasError('duplicated')"
                                >The libelle is redundant!</ng-container
                              >
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                        <div class="nz-form-control">
                          <input
                            type="file"
                            (change)="onFileSelected($event)"
                            #inputFile
                          />
                        </div>
                        <nz-form-item>
                          <nz-form-control [nzOffset]="9" [nzSpan]="12">
                            <button
                              nz-button
                              nzType="primary"
                              [disabled]="!validateForm.valid"
                            >
                              Valider
                            </button>

                            <button
                              style="margin-left: 10px"
                              nz-button
                              (click)="resetForm($event)"
                            >
                              Effacer
                            </button>
                          </nz-form-control>
                        </nz-form-item>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <form (ngSubmit)="searchUint(searchTerms.value)">
          <input
            type="text"
            nz-input
            class="mb-3"
            style="width: 300px; float: inline-end"
            [(ngModel)]="searchQuery"
            placeholder="Recherche ..."
            (input)="autoSearch()"
            #searchTerms
            name="searchQuery"
          />
        </form>

        <nz-table
          #rowSelectionTable
          nzShowPagination
          [nzPageSize]="5"
          [nzData]="listProduct"
        >
          <thead>
            <tr>
              <th>Image</th>
              <th>Libelle</th>
              <th>desciption</th>
              <th>quantité</th>
              <th>Prix unitaire</th>
              <th>Publier</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td>
                <img
                  style="width: 80px; height: 80px"
                  src="{{ data.imageName }}"
                  alt=""
                />
              </td>
              <td>{{ data.libelle }}</td>
              <td style="width: 250px">{{ data.description }}</td>
              <td>{{ data.quatity }}</td>
              <td>{{ data.price }} {{ data.currency }}</td>
              <td *ngIf="data.publish == false">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="publishProduct(data.id!)"
                >
                  <i class="ti ti-toggle-left"></i>
                </button>
              </td>
              <td *ngIf="data.publish == true">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="publishProduct(data.id!)"
                >
                  <i class="ti ti-toggle-right"></i>
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  data-bs-whatever="@mdo"
                  class="btn btn-primary"
                  (click)="getProduct(data)"
                >
                  <i class="ti ti-edit"></i>
                </button>
              </td>
              <td>
                <button
                  (nzOnConfirm)="deleteProduct(data)"
                  nz-popconfirm
                  nzPopconfirmPlacement="top"
                  nzPopconfirmTitle="Confirmez-vous la suppression ?"
                  nzShape="circle"
                  title="Supprimer"
                  class="btn btn-danger"
                >
                  <i class="ti ti-trash-x"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</section>
