<!-- Sidebar navigation-->
<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
  <ul id="sidebarnav">
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Acceuil</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="" aria-expanded="false">
        <span>
          <i class="ti ti-layout-dashboard"></i>
        </span>
        <span class="hide-menu">Tableau de Bord</span>
      </a>
    </li>
    <!-- <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Section des Commandes</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/order-list" aria-expanded="false">
        <span>
          <i class="ti ti-shopping-cart"></i>
        </span>
        <span class="hide-menu">Liste de Commande</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a
        class="sidebar-link"
        routerLink="/order-delivered"
        aria-expanded="false"
      >
        <span>
          <i class="ti ti-shopping-cart-off"></i>
        </span>
        <span class="hide-menu">Commande Livré</span>
      </a>
    </li> -->
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Section des Produits</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/products" aria-expanded="false">
        <span>
          <i class="ti ti-cheese"></i>
        </span>
        <span class="hide-menu">Produit</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="/category" aria-expanded="false">
        <span>
          <i class="ti ti-cheese"></i>
        </span>
        <span class="hide-menu">Catégrie</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="unit-meseare" aria-expanded="false">
        <span>
          <i class="ti ti-weight"></i>
        </span>
        <span class="hide-menu">Unité de Mésure</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="country" aria-expanded="false">
        <span>
          <i class="ti ti-flag"></i>
        </span>
        <span class="hide-menu">Pays</span>
      </a>
    </li>
    <!-- <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      <span class="hide-menu">Section des Utilisateurs</span>
    </li> -->
    <!-- <li class="sidebar-item">
      <a class="sidebar-link" routerLink="users" aria-expanded="false">
        <span>
          <i class="ti ti-user-plus"></i>
        </span>
        <span class="hide-menu">Utilisateur</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" routerLink="roles" aria-expanded="false">
        <span>
          <i class="ti ti-user-plus"></i>
        </span>
        <span class="hide-menu">Role</span>
      </a>
    </li> -->
  </ul>
</nav>
<!-- End Sidebar navigation -->
